# Project ignores
docs
htmlcov
.coverage*
*.lobster

# Python ignores
*.pyc
__pycache__
.ruff_cache
*.egg-info
.venv/
venv/
build
dist
launch.json
settings.json

# EMACS ignores
*~

# OSX / VSCode ignores
.DS_Store
.idea
.vscode

# Build-System ignores
bazel-*
