# Project ignores
docs
.coverage*
*.lobster

# Python ignores
*.pyc
*.egg-info
.venv/
venv/
build
dist
launch.json
settings.json

# EMACS ignores
*~

# OSX / VSCode ignores
.DS_Store
.idea

# Build-System ignores
bazel-*

# Special ignores for CI
cvc5
cvc5.exe
