name: TRLC CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  lint:
    name: PyLint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install pylint==3.2.4 pycodestyle==2.12.0
          python3 -m pip install --no-deps bmw-lobster-core bmw-lobster-tool-trlc
      - name: Executing linter
        run: |
          make lint
  test:
    name: TestSuite
    needs: lint
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022, macos-14]
        py-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]
        include:
          - os: ubuntu-24.04
            cvc5-plat: "linux"
          - os: windows-2022
            cvc5-plat: "windows"
          - os: macos-14
            brew: "/opt/homebrew"
            cvc5-plat: "osx14"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py-version }}
      - name: Install scoop and gnu findutils on windows
        if: matrix.os == 'windows-2022'
        run: |
          Invoke-Expression (New-Object System.Net.WebClient).DownloadString('https://get.scoop.sh')
          scoop install findutils
          "$env:HOMEDRIVE$env:HOMEPATH\scoop\apps\findutils\current\bin" | Out-File -FilePath $env:GITHUB_PATH -Append
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements_dev.txt
      - name: Install gnu make on macos
        if: startsWith(matrix.os, 'macos')
        run: |
          brew install make
          echo "${{ matrix.brew }}/opt/make/libexec/gnubin" >> $GITHUB_PATH
      - name: Fetch CVC5
        run: |
          util/fetch_cvc5.py 1.3.1 ${{ matrix.cvc5-plat }}
          echo "$GITHUB_WORKSPACE" >> $GITHUB_PATH
      - name: Executing unit tests
        run: |
          make unit-tests
      - name: Executing system tests
        run: |
          make system-tests-all
      - name: Coverage analysis
        run: |
          make coverage
      - name: Check output files
        if: always()
        run: |
          util/check_local_modifications.sh
  failure:
    name: Check all jobs
    needs: test
    if: ${{ failure() || cancelled() }}
    runs-on: ubuntu-24.04
    steps:
      - name: Failure
        run: exit 1
